# 01-infra (terraform)
# Cloudflare DNS
TF_VAR_cloudflare_api_token="my-cloudflare-token" 
TF_VAR_dns_zone_name="example.com"
TF_VAR_service_dns_name="selfhost"
TF_VAR_dns_zone_id="cloudflare-dns-zone-id"
# Hetzner Cloud
TF_VAR_hcloud_token="my-hetzner-token"
TF_VAR_servers_count=1
TF_VAR_server_type="cx23"
TF_VAR_server_location="nbg1"
TF_VAR_server_image="rocky-10"
# Server Provisioning Details
TF_VAR_ssh_public_keys='["ssh-ed25519 key admin@workstation"]'
TF_VAR_ssh_private_key_path='"~/.ssh/id_ed25519"'
TF_VAR_allowed_ssh_ips='["0.0.0.0/0"]'