resources:
  - apiVersion: v1
    kind: Secret
    metadata:
      name: cloudflare-origin-tls
      namespace: traefik-system
    type: kubernetes.io/tls
    data:
      tls.crt: {{ readFile "../../files/cloudflare.crt" | b64enc }}
      tls.key: {{ readFile "../../files/cloudflare.key" | b64enc }}