appName: lexi-backend

image:
  repository: sviridov12/lexi
  tag: backend-sha-4c8443de0cf0346c17de075ce97073104d8d48ed

service:
  port: 8090

ingressHost: lexi.sviridov.lu
ingress:
 - path: /api/
   stripPrefix: false

resources:
  requests:
    memory: "256Mi"
    cpu: "100m"
  limits:
    memory: "512Mi"
    cpu: "1000m"

storage:
  data:
    mountPath: /app/pb_data
    accessMode: ReadWriteOnce
    size: 1Gi

# Becomes the lexi-backend-secrets Secret and is loaded into the pod as environment variables
secrets:
  CLAUDE_API_KEY: {{ requiredEnv "CLAUDE_API_KEY" | quote }}
