templates:
  default:
    chart: ./charts/base-app
    createNamespace: true
    values:
      - ingressHost: {{ requiredEnv "SERVICE_HOSTNAME" | quote }}
        
releases:
  - name: audiobookshelf
    namespace: audiobookshelf
    inherit:
      - template: default
    values:
      - ./releases/audiobookshelf/values.yaml

  - name: whoami
    namespace: whoami
    inherit:
      - template: default
    values:
      - ./releases/whoami/values.yaml

  - name: paperless-redis
    namespace: paperless
    inherit:
      - template: default
    values:
      - ./releases/paperless/redis-values.yaml

  - name: paperless
    namespace: paperless
    chart: ./charts/base-app
    inherit:
      - template: default
    values:
      - ./releases/paperless/paperless-values.yaml.gotmpl

  - name: taskframe-backend
    namespace: taskframe
    inherit:
      - template: default
    values:
      - ./releases/taskframe/backend-values.yaml

  - name: taskframe-frontend
    namespace: taskframe
    inherit:
      - template: default
    values:
      - ./releases/taskframe/frontend-values.yaml

