templates:
  default:
    chart: ./charts/base-app
    createNamespace: true
    values:
      - ingressHost: {{ requiredEnv "SERVICE_HOSTNAME" | quote }}
        
releases:
  - name: audiobookshelf
    namespace: audiobookshelf
    inherit:
      - template: default
    values:
      - ./releases/audiobookshelf/values.yaml.gotmpl

  - name: paperless-redis
    namespace: paperless
    inherit:
      - template: default
    values:
      - ./releases/paperless/redis-values.yaml

  - name: paperless
    namespace: paperless
    chart: ./charts/base-app
    inherit:
      - template: default
    values:
      - ./releases/paperless/paperless-values.yaml.gotmpl

  - name: taskframe-backend
    namespace: taskframe
    inherit:
      - template: default
    values:
      - ./releases/taskframe/backend-values.yaml

  - name: taskframe-frontend
    namespace: taskframe
    inherit:
      - template: default
    values:
      - ./releases/taskframe/frontend-values.yaml

  - name: readtrail-backend
    namespace: readtrail
    inherit:
      - template: default
    values:
      - ./releases/readtrail/backend-values.yaml

  - name: readtrail-frontend
    namespace: readtrail
    inherit:
      - template: default
    values:
      - ./releases/readtrail/frontend-values.yaml

  - name: papra
    namespace: papra
    chart: ./charts/base-app
    inherit:
      - template: default
    values:
      - ./releases/papra/values.yaml.gotmpl


  - name: lexi-backend
    namespace: lexi
    inherit:
      - template: default
    values:
      - ./releases/lexi/backend.yaml.gotmpl

  - name: lexi-vocabulary
    namespace: lexi
    inherit:
      - template: default
    values:
      - ./releases/lexi/vocabulary.yaml

  - name: lexi-landing
    namespace: lexi
    inherit:
      - template: default
    values:
      - ./releases/lexi/landing.yaml

  - name: lexi-admin
    namespace: lexi
    inherit:
      - template: default
    values:
      - ./releases/lexi/admin.yaml
