resources:
  - apiVersion: v1
    data:
      client-id: {{ requiredEnv "OAUTH2_CLIENT_ID" }}
      client-secret: {{ requiredEnv "OAUTH2_CLIENT_SECRET" }}
      cookie-secret: {{ requiredEnv "OAUTH2_COOKIE_SECRET" }}
    kind: Secret
    metadata:
      name: oauth2-secret
      namespace: oauth2-proxy
      labels:
        app: oauth2-proxy
